.App {
  text-align: center;
}

.App-header {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.h1-before {
  position: relative;
  margin-top: 0;
  top: 0;
  font-size: 40px;
  color: rgb(253, 230, 95);
  -webkit-transition: .8s;
  transition: .5s ease-in-out;
}

#day, #night {
  position: relative;
  margin: 0px;
  padding: 0;
  line-height: 0;
  font-size: 35px;
  text-shadow: 1px 2px 5px grey;
}

#day {
  transition: all .2s ease-out;
  transition-delay: .2s;
}

#night {
  opacity: 0;
  transition: all .2s ease-in;
  transition-delay: .2s;
}

.flip {
  color: #945cfc;
}

.switch {
  position: relative;
  display: inline-block;
  width: 440px;
  height: 136px;
  top: 50px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  border-radius: 60px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(253, 230, 95);
  pointer-events: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.slider svg {
  position: absolute;
  content: "";
  border-radius: 50%;
  height: 100px;
  width: 100px;
  left: 20px;
  bottom: 18px;
  -webkit-transition: .5s;
  transition: .5s;
}

#svg-div {
  visibility: hidden;
  opacity: 0;
  height: 100%;
  width: 100%;
  transition: all 1.5s;
  animation: grow .6s;
}

@keyframes grow {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.left {
  fill: white;
  animation: left .5s;
}

.right {
  fill: black;
  animation: right .5s;
}

@keyframes left {
  from {transform: translateX(100px) rotate(-360deg);}
  to {transform: translateX(300px) rotate(0deg);}
}

@keyframes right {
  from {transform: translateX(200px) rotate(0deg);}
  to {transform: translateX(0) rotate(-360deg);}
}

input:checked + .slider {
  background-color: #945cfc;
}

input:checked + .slider svg {
  -webkit-transform: translateX(300px);
  -ms-transform: translateX(300px);
  transform: translateX(300px);
}